.logo31 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 250px;
    height: 74px;
    background-image: url(/public/logo31@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .logoPlaceholder {
    height: 84px;
    display: flex;
    flex-direction: column;
    padding: var(--padding-3xs) 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .menuItem {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    font-size: var(--font-size-lg);
    font-weight: 500;
    font-family: var(--font-neue-montreal);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
  }
  .menuItem:hover {
    color: var(--color-thistle-200);
  }
  .menuItems,
  .menuitem1 {
    display: flex;
    flex-direction: row;
  }
  .menuitem1 {
    padding: var(--padding-3xs);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .menuItems {
    align-items: center;
    justify-content: center;
    gap: var(--gap-31xl);
  }
  .connectWallet {
    position: relative;
    font-size: var(--font-size-lg);
    font-weight: 500;
    font-family: var(--font-neue-montreal);
    color: var(--color-black);
    text-align: left;
  }
  .connectButton {
    cursor: pointer;
    border: 0;
    padding: var(--padding-3xs) var(--padding-xl);
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .hamburgerMenuChild {
    background-color: var(--color-black);
    width: 24px;
    height: 2px;
  }
  .hamburgerMenu,
  .menuButtons {
    cursor: pointer;
    border: 0;
    padding: 0;
  }
  .hamburgerMenu {
    background-color: var(--color-white);
    width: 42px;
    height: 42px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-7xs);
  }
  .menuButtons {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-6xl);
  }

  .headerContainer,
  .headerWeb3 {
    align-self: stretch;
    display: flex;
    align-items: center;
  }
  .headerContainer {
    flex: 1;
    flex-direction: row;
    padding: var(--padding-3xs) 0 var(--padding-10xs);
    justify-content: space-between;
  }
  .headerWeb3 {
    background-color: var(--color-gray-200);
    height: 97px;
    flex-direction: column;
    padding: 0 var(--padding-45xl);
    box-sizing: border-box;
    justify-content: center;
  }
  .yourGenie {
    color: var(--color-thistle-200);
  }
  .setUpYourContainer {
    position: relative;
    font-size: var(--font-size-31xl);
    font-weight: 500;
  }
  .paymentConfirmedLets {
    position: relative;
    font-weight: 500;
    display: inline-block;
    width: 400px;
  }
  .pngwing1Icon {
    position: relative;
    width: 36px;
    height: 36px;
    object-fit: cover;
  }
  .enterTheMain {
    position: relative;
    font-weight: 500;
    display: inline-block;
    width: 334px;
    flex-shrink: 0;
  }
  .pngwing1Parent {
    background-color: var(--color-thistle-200);
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs);
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-3xs);
    color: var(--color-black);
  }
  .websiteLink {
    position: relative;
    font-weight: 500;
  }
  .websiteLinkWrapper {
    flex-direction: row;
    padding: var(--padding-10xs) 0;
  }
  .frameChild,
  .frameContainer,
  .websiteLinkWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frameChild {
    border: 0;
    font-weight: 500;
    font-family: var(--font-neue-montreal);
    font-size: var(--font-size-base);
    background-color: var(--color-white);
    align-self: stretch;
    flex-direction: row;
    padding: var(--padding-5xs) var(--padding-8xs);
  }
  .frameContainer {
    width: 433px;
    margin-top: 7px;
    flex-direction: column;
  }
  .afterCompletingThe {
    position: relative;
    font-weight: 500;
    display: inline-block;
    width: 400px;
    flex-shrink: 0;
  }
  .afterCompletingTheMainConfWrapper,
  .frameWrapper1 {
    display: flex;
    padding: var(--padding-3xs);
    justify-content: flex-start;
  }
  .afterCompletingTheMainConfWrapper {
    background-color: var(--color-thistle-400);
    flex-direction: row;
    align-items: center;
  }
  .frameWrapper1 {
    flex-direction: column;
    align-items: flex-start;
    font-size: var(--font-size-base);
  }
  .submit {
    position: relative;
    font-size: var(--font-size-lg);
    font-weight: 500;
    font-family: var(--font-neue-montreal);
    color: var(--color-black);
    text-align: left;
  }
  .submitWrapper {
    cursor: pointer;
    border: 0;
    padding: var(--padding-3xs) var(--padding-13xl);
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .submitWrapper:hover {
    transform: scale(1.05);
  }
  .frameGroup {
    background-color: var(--color-gray-500);
    width: 493px;
    padding: var(--padding-xl);
    box-sizing: border-box;
    align-items: center;
    gap: var(--gap-8xs);
  }
  .frameGroup,
  .frameWrapper,
  .setUpYourGenieParent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .frameWrapper {
    padding: var(--padding-3xs);
    align-items: flex-start;
    font-size: var(--font-size-mini);
  }
  .setUpYourGenieParent {
    align-self: stretch;
    padding: 0 var(--padding-3xs);
    align-items: center;
    gap: var(--gap-xl);
  }
  .forQuestions1 {
    position: relative;
    font-weight: 500;
  }
  .forQuestionsWrapper,
  .frameWrapper2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .frameWrapper2 {
    background-color: var(--color-thistle-400);
    width: 277px;
    padding: var(--padding-8xs);
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .pleaseContactGeniebotinfo {
    position: relative;
    font-weight: 500;
    display: inline-block;
    width: 266px;
    flex-shrink: 0;
  }
  .frameParent4,
  .pleaseContactGeniebotinfoOWrapper {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pleaseContactGeniebotinfoOWrapper {
    background-color: var(--color-thistle-500);
    flex-direction: row;
    padding: 0 var(--padding-3xs);
    font-size: var(--font-size-lg);
  }
  .frameParent4 {
    flex: 1;
    background: linear-gradient(
      180deg,
      rgba(191, 177, 214, 0) 43.23%,
      rgba(221, 215, 232, 0)
    );
    flex-direction: column;
    padding: var(--padding-3xs) 0;
    gap: var(--gap-3xs);
  }
  .atomsiconsblackcurveEdget {
    position: relative;
    border-radius: var(--br-mini);
    width: 70px;
    height: 70px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .atomsiconsblackcurveEdgetWrapper {
    align-self: stretch;
    flex: 1;
    background: linear-gradient(
      180deg,
      rgba(191, 177, 214, 0) 43.23%,
      rgba(221, 215, 232, 0)
    );
    display: flex;
    flex-direction: column;
    padding: var(--padding-3xs) 0;
    align-items: center;
    justify-content: center;
  }
  .forQuestion,
  .frameParent3 {
    display: flex;
    flex-direction: row;
  }
  .frameParent3 {
    align-self: stretch;
    flex: 1;
    background-color: var(--color-darkslategray);
    align-items: center;
    justify-content: center;
  }
  .forQuestion {
    width: 644px;
    height: 200px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .forQuestionWrapper {
    padding: 0 var(--padding-45xl);
    justify-content: center;
  }
  .forQuestionWrapper,
  .forQuestions,
  .frameParent {
    padding-top: 40px;
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .forQuestions {
    justify-content: center;
    font-size: var(--font-size-7xl);
  }
  .frameParent {
    justify-content: flex-start;
    gap: var(--gap-4xl);
  }
  .vectorIcon {
    position: relative;
    width: 1312px;
    height: 0;
  }
  .footerContainerInner,
  .vectorWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .vectorWrapper {
    background-color: var(--color-white);
    height: 1px;
    padding: var(--padding-12xs) 0;
    box-sizing: border-box;
  }
  .footerContainerInner {
    flex: 1;
    padding: var(--padding-6xs) 0;
  }
  .home {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    font-size: var(--font-size-mini);
    text-decoration: underline;
    font-weight: 500;
    font-family: var(--font-neue-montreal);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
  }
  .columnlinks1,
  .linkframe1 {
    display: flex;
    align-items: flex-start;
  }
  .linkframe1 {
    align-self: stretch;
    flex-direction: row;
    padding: var(--padding-xs) var(--padding-3xs);
    justify-content: flex-start;
  }
  .columnlinks1 {
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }
  .terms {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    font-size: var(--font-size-mini);
    text-decoration: underline;
    font-weight: 500;
    font-family: var(--font-neue-montreal);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
  }
  .columnlinks2,
  .cont,
  .linkframe3,
  .linkframe4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .linkframe3,
  .linkframe4 {
    align-self: stretch;
    flex-direction: row;
    padding: var(--padding-xs) var(--padding-3xs);
  }
  .columnlinks2,
  .cont {
    flex: 1;
    flex-direction: column;
  }
  .cont {
    flex-direction: row;
  }
  .getStarted,
  .register {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    font-size: var(--font-size-mini);
    text-decoration: underline;
    font-weight: 500;
    font-family: var(--font-neue-montreal);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
  }
  .register {
    display: none;
  }
  .linkframe5 {
    flex: 1;
  }
  .linkframe5,
  .linkframe6 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    padding: var(--padding-xs) var(--padding-3xs);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .columnlinks3,
  .linksContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .linksContainer {
    flex-direction: row;
    align-items: center;
  }
  .telegramIcon {
    position: relative;
    width: 16px;
    height: 13.26px;
  }
  .telegramWrapper {
    cursor: pointer;
    border: 0;
    padding: var(--padding-4xs) var(--padding-6xs);
    background-color: var(--color-white);
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .twitterIcon {
    position: relative;
    width: 16px;
    height: 13px;
  }
  .twitterWrapper {
    cursor: pointer;
    border: 0;
    padding: var(--padding-4xs) var(--padding-5xs);
    background-color: var(--color-white);
    width: 32px;
    height: 32px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .uniswapLogoBlack1Icon {
    position: relative;
    width: 16px;
    height: 18px;
    object-fit: cover;
  }
  .socialMediaLinks,
  .uniswapLogoBlack1Wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .uniswapLogoBlack1Wrapper {
    cursor: pointer;
    border: 0;
    padding: var(--padding-8xs) var(--padding-5xs);
    background-color: var(--color-white);
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    align-items: flex-start;
  }
  .socialMediaLinks {
    flex: 1;
    align-items: center;
    gap: var(--gap-11xl);
  }
  .geniebot {
    position: relative;
    font-weight: 500;
  }
  .geniebotWrapper {
    flex: 1;
    padding: var(--padding-8xs) 0;
  }
  .footerContainer,
  .geniebotWrapper,
  .links,
  .socialMediaLinksParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .socialMediaLinksParent {
    flex: 1;
    background-color: var(--color-gray-600);
    height: 126px;
    overflow: hidden;
    padding: var(--padding-sm) var(--padding-2xl);
    box-sizing: border-box;
    gap: var(--gap-3xs);
  }
  .footerContainer,
  .links {
    align-self: stretch;
  }
  .footerContainer {
    flex: 1;
    flex-direction: column;
  }
  .autolayout,
  .footer,
  .setUp {
    background-color: var(--color-gray-200);
    display: flex;
    flex-direction: column;
  }
  .footer {
    align-self: stretch;
    height: 229px;
    padding: var(--padding-11xl) var(--padding-45xl);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-lg);
  }
  .autolayout,
  .setUp {
    justify-content: flex-start;
  }
  .autolayout {
    align-self: stretch;
    flex: 1;
    align-items: center;
    gap: var(--gap-51xl);
  }
  .setUp {
    position: relative;
    width: 100%;
    height: 1400px;
    overflow: hidden;
    align-items: flex-start;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-white);
    font-family: var(--font-neue-montreal);
  }
  @media screen and (max-width: 1200px) {
    .connectWallet,
    .menuItem {
      font-size: var(--font-size-mid);
    }
    .setUpYourContainer {
      font-size: var(--font-size-21xl);
    }
    .forQuestions1 {
      font-size: var(--font-size-3xl);
    }
    .pleaseContactGeniebotinfo {
      font-size: var(--font-size-base);
    }
  }
  @media screen and (max-width: 960px) {
    .logo31 {
      width: 180px;
      height: 55px;
    }
    .connectButton,
    .menuItems {
      display: none;
    }
    .hamburgerMenu {
      display: flex;
      width: 40px;
      height: 40px;
    }
    .headerWeb3 {
      height: 85px;
      padding-left: var(--padding-13xl);
      padding-right: var(--padding-13xl);
      box-sizing: border-box;
    }
    .footerContainerInner {
      padding-top: var(--padding-6xs);
      padding-bottom: var(--padding-6xs);
      box-sizing: border-box;
    }
    .home,
    .terms {
      font-size: var(--font-size-sm);
    }
    .linkframe3 {
      align-self: stretch;
      width: auto;
    }
    .cont {
      flex: unset;
      align-self: stretch;
    }
    .getStarted,
    .register {
      font-size: var(--font-size-sm);
      text-align: left;
    }
    .getStarted {
      display: none;
    }
    .register {
      display: flex;
    }
    .linkframe5,
    .linkframe6 {
      align-self: stretch;
      width: auto;
    }
    .linkframe5 {
      gap: var(--gap-3xs);
    }
    .linkframe6 {
      flex: 1;
      padding-right: var(--padding-3xs);
      box-sizing: border-box;
    }
    .columnlinks3 {
      flex: unset;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      align-self: stretch;
    }
    .linksContainer {
      flex-direction: column;
    }
    .socialMediaLinks {
      gap: var(--gap-xl);
      flex: unset;
      align-self: stretch;
    }
    .geniebot {
      font-size: var(--font-size-base);
    }
    .geniebotWrapper {
      flex: unset;
      align-self: stretch;
    }
    .socialMediaLinksParent {
      flex-direction: column;
    }
    .links {
      align-items: center;
      justify-content: center;
    }
    .footer {
      height: 200px;
      gap: var(--gap-0);
      padding: var(--padding-mini) var(--padding-13xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 420px) {
    .menuItems {
      display: none;
    }
    .hamburgerMenu {
      display: flex;
    }
    .headerWeb3 {
      height: 80px;
      padding-left: var(--padding-base);
      padding-right: var(--padding-base);
      box-sizing: border-box;
    }
    .home {
      font-size: var(--font-size-xs);
    }
    .linkframe1 {
      padding-left: 0;
      box-sizing: border-box;
    }
    .terms {
      font-size: var(--font-size-smi);
    }
    .getStarted,
    .register {
      font-size: var(--font-size-xs);
    }
    .getStarted {
      display: none;
    }
    .register {
      display: flex;
    }
    .linkframe5,
    .linkframe6 {
      flex: 1;
      gap: var(--gap-0);
      align-items: flex-start;
      justify-content: flex-start;
      box-sizing: border-box;
    }
    .linkframe5 {
      padding-left: 0;
      padding-right: 0;
    }
    .linkframe6 {
      padding: var(--padding-xs) var(--padding-3xs);
    }
    .columnlinks3 {
      height: auto;
    }
    .telegramWrapper,
    .twitterWrapper {
      width: 25px;
      height: 25px;
    }
    .uniswapLogoBlack1Wrapper {
      width: 25px;
      height: 25px;
      align-items: flex-end;
      justify-content: center;
    }
    .socialMediaLinks {
      gap: var(--gap-xs);
    }
    .geniebot {
      font-size: var(--font-size-smi);
    }
    .links {
      align-self: stretch;
      width: auto;
      flex: 1;
    }
    .footer {
      padding-left: var(--padding-base);
      padding-right: var(--padding-base);
      box-sizing: border-box;
    }
  }
  