.div {
  position: relative;
  font-weight: 500;
}
.wrapper {
  border-radius: var(--br-3xs);
  background-color: var(--color-thistle-200);
  width: 34px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-lg);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.span {
  color: var(--color-black);
}
.yourWallet {
  color: var(--color-white);
}
.connectYourWalletWrapper,
.frameContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.connectYourWalletWrapper {
  padding: var(--padding-3xs) 0;
  align-items: center;
  color: var(--color-thistle-200);
}
.frameContainer {
  align-self: stretch;
  background-color: var(--color-thistle-400);
  padding: var(--padding-3xs);
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.connected {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-neue-montreal);
  color: var(--color-black);
  text-align: center;
}
.connectedWrapper,
.frameDiv,
.frameGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.connectedWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-6xl);
  background-color: var(--color-thistle-200);
  flex-direction: row;
}
.connectedWrapper:hover{
  transform: scale(1.05);
}
.frameDiv,
.frameGroup {
  flex-direction: column;
  padding: var(--padding-3xs);
}
.frameGroup {
  background: linear-gradient(
    180deg,
    rgba(209, 195, 234, 0),
    rgba(231, 220, 249, 0) 94.79%,
    rgba(211, 197, 236, 0) 99.99%,
    rgba(216, 201, 241, 0)
  );
  backdrop-filter: blur(4px);
  height: 216px;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-3xs);
}
.frameWrapper {
  align-self: stretch;
  background-color: var(--color-gray-500);
  padding: var(--padding-6xl);
}
.chooseYourGenieWrapper,
.container,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.container {
  border-radius: var(--br-3xs);
  background-color: var(--color-thistle-200);
  overflow: hidden;
  padding: var(--padding-3xs) var(--padding-xs);
}
.chooseYourGenieWrapper {
  padding: var(--padding-3xs) 0;
  color: var(--color-thistle-100);
}
.chooseTheType {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 265px;
  flex-shrink: 0;
}
.chooseTheTypeAndLengthOfWrapper {
  background-color: var(--color-gray-400);
  width: 281px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.frameParent1 {
  background: linear-gradient(
    180deg,
    rgba(230, 222, 242, 0),
    rgba(194, 180, 219, 0)
  );
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs) 0;
  align-items: center;
  justify-content: flex-start;
}
.frame {
  border-radius: var(--br-3xs);
  background-color: var(--color-thistle-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-2xs);
  align-items: flex-start;
  justify-content: center;
}
.weWillContact {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 268px;
  flex-shrink: 0;
}
.weWillContactYouOnTelegraWrapper {
  background-color: var(--color-thistle-500);
  width: 278px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.frameParent3 {
  background: linear-gradient(
    180deg,
    rgba(191, 177, 214, 0) 43.23%,
    rgba(221, 215, 232, 0)
  );
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs) 0;
  align-items: center;
  justify-content: flex-start;
}
.frameParent {
  width: 1096px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-gray-100);
  font-family: var(--font-neue-montreal);
}
@media screen and (max-width: 1200px) {
  .div {
    font-size: var(--font-size-xl);
  }
  .connected {
    font-size: var(--font-size-lg);
  }
  .frameWrapper {
    padding: var(--padding-mini) var(--padding-8xs) 0;
    box-sizing: border-box;
  }
  .chooseTheType,
  .weWillContact {
    font-size: var(--font-size-base);
    width: 215px;
  }
  .frameParent {
    width: 900px;
    gap: var(--gap-3xs);
  }
  .connec {
    border-radius: 0 !important;
    font-size: 18px !important;
    padding: 15px 30px !important;
  }
}
